# Adattisztítás és integráció

A valós adathalmazok gyakran zajosak, hiányosak, avagy éppen redundáns információt vagy duplikátum egyedeket tartalmaznak. Ezért a tudásfeltárás folyamatában az adattisztítás és adatintegrálással kezdődik.

Az adattisztítás szerepe javítani az adatok minőségén azáltal, hogy kiszűri és eltávolítja az adatokban fellépő hibákat és inkonzisztenciákat.

Az [adattisztítás](https://hu.wikipedia.org/wiki/Adattiszt%C3%ADtás) során:
"
- felmérjük a hibákat
	- ellenőrizzük az adatfájl szerkezeti épségét
	- a zajt, felesleges információt tartalmazó mezőket javítjuk
	- felmérjük a hiányzó értékeket és amennyiben lehet ezeket pótoljuk
	- felmérjük az adatközlési és adatbeviteli hibákat
		- megvizsgáljuk az egyes változók eloszlását
			- az eloszlások szélein elhelyezkedő extrém értékeket ellenőrizzük
			- felmérjük, hogy az eloszlások megfelelnek-e az előzetes elvárásainknak, vannak-e nem várt sűrűsödések, ritkulások egyes értéktartományokban (például durva kerekítés vagy eltérő mértékegység használata az adatszolgáltatók egy részénél)
		-  megvizsgáljuk, hogy a változók közötti triviális összefüggések teljesülnek-e
-  a hibásnak tűnő adatokat felülvizsgáljuk, javítjuk 
".

In [5]:
from google.colab import files
uploaded = files.upload()

Saving egyetemek.txt to egyetemek.txt

In [6]:
import pandas as pd
import numpy as np

In [7]:
egyetemi_varosok = []
with open('egyetemek.txt') as file:
     for line in file:
         if '[edit]' in line:
             state = line
         else:
             egyetemi_varosok.append((state, line))

In [8]:
egyetemi_varosok[:10]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n'),
 ('Alabama[edit]\n', 'Troy (Troy University)[2]\n'),
 ('Alabama[edit]\n',
  'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n'),
 ('Alabama[edit]\n', 'Tuskegee (Tuskegee University)[5]\n'),
 ('Alaska[edit]\n', 'Fairbanks (University of Alaska Fairbanks)[2]\n'),
 ('Arizona[edit]\n', 'Flagstaff (Northern Arizona University)[6]\n')]

In [9]:
varosok = pd.DataFrame(egyetemi_varosok,
                        columns=['State', 'City'])

varosok.head()

             State                                               City
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [11]:
def get_state_city(item):
    if ' (' in item:
        return item[:item.find(' (')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [12]:
varosok = varosok.applymap(get_state_city)
varosok

         State           City
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
514  Wisconsin  Stevens Point
515  Wisconsin       Waukesha
516  Wisconsin     Whitewater
517    Wyoming        Laramie
518     123456           +000

[519 rows x 2 columns]

In [13]:
allamok = varosok.groupby("State").size().reset_index(name="Counts")
allamok

             State  Counts
0           123456       1
1          Alabama       8
2           Alaska       1
3          Arizona       3
4         Arkansas       8
5       California      26
6         Colorado       9
7      Connecticut       7
8         Delaware       2
9          Florida      12
10         Georgia      16
11          Hawaii       1
12           Idaho       3
13        Illinois      10
14         Indiana      13
15            Iowa      13
16          Kansas       6
17        Kentucky      11
18       Louisiana       8
19           Maine       9
20        Maryland      10
21   Massachusetts      19
22        Michigan      20
23       Minnesota      14
24     Mississippi       5
25        Missouri       9
26         Montana       3
27        Nebraska       7
28          Nevada       2
29   New Hampshire       7
30      New Jersey      10
31      New Mexico       5
32        New York      31
33  North Carolina      18
34    North Dakota       2
35            Ohio      22
36        Oklahoma      11
37          Oregon      10
38    Pennsylvania      43
39    Rhode Island       2
40  South Carolina      11
41    South Dakota       4
42       Tennessee      13
43           Texas      22
44            Utah       6
45         Vermont       6
46        Virginia      12
47      Washington       5
48   West Virginia       9
49       Wisconsin      13
50         Wyoming       1

In [14]:
allamok[allamok["Counts"] == allamok["Counts"].max()]

           State  Counts
38  Pennsylvania      43

In [15]:
allamok[allamok["Counts"] == allamok["Counts"].min()]

      State  Counts
0    123456       1
2    Alaska       1
11   Hawaii       1
50  Wyoming       1

In [16]:
allamrov = {"Alabama":"AL","Alaska":"AK","Arizona":"AZ","Arkansas":"AR","California":"CA","Colorado":"CO","Connecticut":"CT","Delaware":"DE","Florida":"FL","Georgia":"GA","Hawaii":"HI","Idaho":"ID","Illinois":"IL","Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Maine":"ME","Maryland":"MD","Massachusetts":"MA","Michigan":"MI","Minnesota":"MN","Mississippi":"MS","Missouri":"MO","Montana":"MT","Nebraska":"NE","Nevada":"NV","New Hampshire":"NH","New Jersey":"NJ","New Mexico":"NM","New York":"NY","North Carolina":"NC","North Dakota":"ND","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA","Rhode Island":"RI","South Carolina":"SC","South Dakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT","Vermont":"VT","Virginia":"VA","Washington":"WA","West Virginia":"WV","Wisconsin":"WI","Wyoming":"WY"}
varosok['abbrev'] = varosok['State'].map(allamrov)
varosok

         State           City abbrev
0      Alabama         Auburn     AL
1      Alabama       Florence     AL
2      Alabama   Jacksonville     AL
3      Alabama     Livingston     AL
4      Alabama     Montevallo     AL
..         ...            ...    ...
514  Wisconsin  Stevens Point     WI
515  Wisconsin       Waukesha     WI
516  Wisconsin     Whitewater     WI
517    Wyoming        Laramie     WY
518     123456           +000    NaN

[519 rows x 3 columns]

In [17]:
allamnep = {"Alabama":4903185,"Alaska":731545,"Arizona":7278717,"Arkansas":3017825,"California":39512223,"Colorado":5758736,"Connecticut":3565287,"Delaware":973764,"Florida":21477737,"Georgia":10617423,"Hawaii":1415872,"Idaho":1787065,"Illinois":12671821,"Indiana":6732219,"Iowa":3155070,"Kansas":2913314,"Kentucky":4467673,"Louisiana":4648794,"Maine":1344212,"Maryland":6045680,"Massachusetts":6949503,"Michigan":9986857,"Minnesota":5639632,"Mississippi":2976149,"Missouri":6137428,"Montana":1068778,"Nebraska":1934408,"Nevada":3080156,"New Hampshire":1359711,"New Jersey":8882190,"New Mexico":2096829,"New York":19453561,"North Carolina":10488084,"North Dakota":762062,"Ohio":11689100,"Oklahoma":3956971,"Oregon":4217737,"Pennsylvania":12801989,"Rhode Island":1059361,"South Carolina":5148714,"South Dakota":884659,"Tennessee":6833174,"Texas":28995881,"Utah":3205958,"Vermont":623989,"Virginia":8535519,"Washington":7614893,"West Virginia":1792147,"Wisconsin":5822434,"Wyoming":578759}
varosok['population'] = varosok['State'].map(allamnep)
varosok

         State           City abbrev  population
0      Alabama         Auburn     AL   4903185.0
1      Alabama       Florence     AL   4903185.0
2      Alabama   Jacksonville     AL   4903185.0
3      Alabama     Livingston     AL   4903185.0
4      Alabama     Montevallo     AL   4903185.0
..         ...            ...    ...         ...
514  Wisconsin  Stevens Point     WI   5822434.0
515  Wisconsin       Waukesha     WI   5822434.0
516  Wisconsin     Whitewater     WI   5822434.0
517    Wyoming        Laramie     WY    578759.0
518     123456           +000    NaN         NaN

[519 rows x 4 columns]

In [18]:
allamok2 = varosok.groupby(["State","abbrev","population"]).size().reset_index(name="Counts")
allamok2["capita"] = round((allamok2.population/allamok2.Counts),2)
allamok2

             State abbrev  population  Counts      capita
0          Alabama     AL   4903185.0       8   612898.12
1           Alaska     AK    731545.0       1   731545.00
2          Arizona     AZ   7278717.0       3  2426239.00
3         Arkansas     AR   3017825.0       8   377228.12
4       California     CA  39512223.0      26  1519700.88
5         Colorado     CO   5758736.0       9   639859.56
6      Connecticut     CT   3565287.0       7   509326.71
7         Delaware     DE    973764.0       2   486882.00
8          Florida     FL  21477737.0      12  1789811.42
9          Georgia     GA  10617423.0      16   663588.94
10          Hawaii     HI   1415872.0       1  1415872.00
11           Idaho     ID   1787065.0       3   595688.33
12        Illinois     IL  12671821.0      10  1267182.10
13         Indiana     IN   6732219.0      13   517863.00
14            Iowa     IA   3155070.0      13   242697.69
15          Kansas     KS   2913314.0       6   485552.33
16        Kentucky     KY   4467673.0      11   406152.09
17       Louisiana     LA   4648794.0       8   581099.25
18           Maine     ME   1344212.0       9   149356.89
19        Maryland     MD   6045680.0      10   604568.00
20   Massachusetts     MA   6949503.0      19   365763.32
21        Michigan     MI   9986857.0      20   499342.85
22       Minnesota     MN   5639632.0      14   402830.86
23     Mississippi     MS   2976149.0       5   595229.80
24        Missouri     MO   6137428.0       9   681936.44
25         Montana     MT   1068778.0       3   356259.33
26        Nebraska     NE   1934408.0       7   276344.00
27          Nevada     NV   3080156.0       2  1540078.00
28   New Hampshire     NH   1359711.0       7   194244.43
29      New Jersey     NJ   8882190.0      10   888219.00
30      New Mexico     NM   2096829.0       5   419365.80
31        New York     NY  19453561.0      31   627534.23
32  North Carolina     NC  10488084.0      18   582671.33
33    North Dakota     ND    762062.0       2   381031.00
34            Ohio     OH  11689100.0      22   531322.73
35        Oklahoma     OK   3956971.0      11   359724.64
36          Oregon     OR   4217737.0      10   421773.70
37    Pennsylvania     PA  12801989.0      43   297720.67
38    Rhode Island     RI   1059361.0       2   529680.50
39  South Carolina     SC   5148714.0      11   468064.91
40    South Dakota     SD    884659.0       4   221164.75
41       Tennessee     TN   6833174.0      13   525628.77
42           Texas     TX  28995881.0      22  1317994.59
43            Utah     UT   3205958.0       6   534326.33
44         Vermont     VT    623989.0       6   103998.17
45        Virginia     VA   8535519.0      12   711293.25
46      Washington     WA   7614893.0       5  1522978.60
47   West Virginia     WV   1792147.0       9   199127.44
48       Wisconsin     WI   5822434.0      13   447879.54
49         Wyoming     WY    578759.0       1   578759.00

In [27]:
allamter = {"Alabama":135767,"Alaska":135767,"Arizona":295234,"Arkansas":137732,"California":423967,"Colorado":269601,"Connecticut":14357,"Delaware":6446,"Florida":170312,"Georgia":153910,"Hawaii":28313,"Idaho":216443,"Illinois":149995,"Indiana":94326,"Iowa":145746,"Kansas":213100,"Kentucky":104656,"Louisiana":135659,"Maine":91633,"Maryland":32131,"Massachusetts":27336,"Michigan":250487,"Minnesota":225163,"Mississippi":125438,"Missouri":180540,"Montana":380831,"Nebraska":200330,"Nevada":286380,"New Hampshire":24214,"New Jersey":22591,"New Mexico":314917,"New York":141297,"North Carolina":139391,"North Dakota":183108,"Ohio":116098,"Oklahoma":181037,"Oregon":254799,"Pennsylvania":119280,"Rhode Island":4001,"South Carolina":82933,"South Dakota":199729,"Tennessee":109153,"Texas":695662,"Utah":219882,"Vermont":24906,"Virginia":110787,"Washington":184661,"West Virginia":62756,"Wisconsin":169635,"Wyoming":253335}
varosok['area'] = varosok['State'].map(allamter)

In [21]:
allamok3 = varosok.groupby(["State","abbrev","population","area"]).size().reset_index(name="Counts")
allamok3["capita"] = round((allamok3.population/allamok3.Counts),2)
allamok3["capita/km2"] = round((allamok3.area/allamok3.Counts),2)
allamok3

             State abbrev  population      area  Counts      capita  capita/km2
0          Alabama     AL   4903185.0  135767.0       8   612898.12    16970.88
1           Alaska     AK    731545.0  135767.0       1   731545.00   135767.00
2          Arizona     AZ   7278717.0  295234.0       3  2426239.00    98411.33
3         Arkansas     AR   3017825.0  137732.0       8   377228.12    17216.50
4       California     CA  39512223.0  423967.0      26  1519700.88    16306.42
5         Colorado     CO   5758736.0  269601.0       9   639859.56    29955.67
6      Connecticut     CT   3565287.0   14357.0       7   509326.71     2051.00
7         Delaware     DE    973764.0    6446.0       2   486882.00     3223.00
8          Florida     FL  21477737.0  170312.0      12  1789811.42    14192.67
9          Georgia     GA  10617423.0  153910.0      16   663588.94     9619.38
10          Hawaii     HI   1415872.0   28313.0       1  1415872.00    28313.00
11           Idaho     ID   1787065.0  216443.0       3   595688.33    72147.67
12        Illinois     IL  12671821.0  149995.0      10  1267182.10    14999.50
13         Indiana     IN   6732219.0   94326.0      13   517863.00     7255.85
14            Iowa     IA   3155070.0  145746.0      13   242697.69    11211.23
15          Kansas     KS   2913314.0  213100.0       6   485552.33    35516.67
16        Kentucky     KY   4467673.0  104656.0      11   406152.09     9514.18
17       Louisiana     LA   4648794.0  135659.0       8   581099.25    16957.38
18           Maine     ME   1344212.0   91633.0       9   149356.89    10181.44
19        Maryland     MD   6045680.0   32131.0      10   604568.00     3213.10
20   Massachusetts     MA   6949503.0   27336.0      19   365763.32     1438.74
21        Michigan     MI   9986857.0  250487.0      20   499342.85    12524.35
22       Minnesota     MN   5639632.0  225163.0      14   402830.86    16083.07
23     Mississippi     MS   2976149.0  125438.0       5   595229.80    25087.60
24        Missouri     MO   6137428.0  180540.0       9   681936.44    20060.00
25         Montana     MT   1068778.0  380831.0       3   356259.33   126943.67
26        Nebraska     NE   1934408.0  200330.0       7   276344.00    28618.57
27          Nevada     NV   3080156.0  286380.0       2  1540078.00   143190.00
28   New Hampshire     NH   1359711.0   24214.0       7   194244.43     3459.14
29      New Jersey     NJ   8882190.0   22591.0      10   888219.00     2259.10
30      New Mexico     NM   2096829.0  314917.0       5   419365.80    62983.40
31        New York     NY  19453561.0  141297.0      31   627534.23     4557.97
32  North Carolina     NC  10488084.0  139391.0      18   582671.33     7743.94
33    North Dakota     ND    762062.0  183108.0       2   381031.00    91554.00
34            Ohio     OH  11689100.0  116098.0      22   531322.73     5277.18
35        Oklahoma     OK   3956971.0  181037.0      11   359724.64    16457.91
36          Oregon     OR   4217737.0  254799.0      10   421773.70    25479.90
37    Pennsylvania     PA  12801989.0  119280.0      43   297720.67     2773.95
38    Rhode Island     RI   1059361.0    4001.0       2   529680.50     2000.50
39  South Carolina     SC   5148714.0   82933.0      11   468064.91     7539.36
40    South Dakota     SD    884659.0  199729.0       4   221164.75    49932.25
41       Tennessee     TN   6833174.0  109153.0      13   525628.77     8396.38
42           Texas     TX  28995881.0  695662.0      22  1317994.59    31621.00
43            Utah     UT   3205958.0  219882.0       6   534326.33    36647.00
44         Vermont     VT    623989.0   24906.0       6   103998.17     4151.00
45        Virginia     VA   8535519.0  110787.0      12   711293.25     9232.25
46      Washington     WA   7614893.0  184661.0       5  1522978.60    36932.20
47   West Virginia     WV   1792147.0   62756.0       9   199127.44     6972.89
48       Wisconsin     WI   5822434.0  169635.0      13   447879.54    13048.85
49         Wyoming     WY    578759.0  253335.0       1   578759.00   253335.00

# Feladatok

1. Az `egyetemek.txt` fájlból szűrjük ki az államokat és azon belül a városokat, melyben egyetemek találhatóak. Ha vannak duplikátumok, helytelen adatok (pl. számokat tartalmazó államnév), ezeket javítsuk. Vizsgáljuk meg az egyetemek eloszlását államok szerint. Melyik államban van a legtöbb, legkevesebb egyetem?

2. Bővítsük ki az adatbázisunkat egy oszloppal, mely tartalmazza az államok rövidítését is (pl. Texas - TX, California - CA stb.).  [Forrás](https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations).

3. Az adatbázist integráljuk a [List of states and territories of the United States by population](https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population) linken szereplő népszámlálási adatokkal és számoljuk ki államonként hány főre jut egy egyetemi város.

4. Hasonlóan, a [List of U.S. states and territories by area](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area) linken szereplő területi adatok integrálásával, számoljuk ki államonként átlagban hány négyzetkilométerre jut egy egyetemi város.

5. A [példa](https://datasciencechalktalk.com/2019/09/28/analyzing-u-s-exports-with-plotly/), a kivitelt, exportmennyiséget ábrázolja az Amerikai Egyesült Államok térképen, államonként lebontva ezt. Készítsünk hasonló ábrákat az egyetemek abszolút, lakoság és terület szerinti eloszlásáról is. Az ábrákat exportáljuk kép formájában.
![](https://i.ibb.co/s1zdnLY/mapplot.png)

  Ábra 1. [Térképen való ábrázolás](https://plotly.com/python/maps/) Plotly segítségével. [Forrás](https://datasciencechalktalk.com/2019/09/28/analyzing-u-s-exports-with-plotly/).

6. Számoljuk ki, hány egyetem van városonként, majd összesítve államonként. Ehhez az `egyetemek.txt` fájlban miután megkapunk egy várost, az utána következő kerek zárójelek között megszámoljuk, hány vesszővel elválasztott karakterlánc található. 
Pl. a következő sorban:	`Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]` -> 6 vessző van a kerek zárójelek között, tehát 7 egyetem van a városban.    
Melyik államban és melyik városban van a legtöbb egyetem?

In [24]:
import plotly.graph_objects as go
import pandas as pd

fig = go.Figure(data=go.Choropleth(
    locations=allamok3["abbrev"],
    z = allamok3["Counts"].astype(float),
    locationmode = "USA-states",
    colorscale = "Reds",
    colorbar_title = "Egyetemi varosok szama",
))
fig.update_layout(
    title_text = "Egyetemek szama allamonket az USA-ban",
    geo_scope="usa",
)
fig.show()

In [25]:
fig = go.Figure(data=go.Choropleth(
    locations=allamok3["abbrev"],
    z = allamok3["capita/km2"].astype(float),
    locationmode = "USA-states",
    colorscale = "Reds",
    colorbar_title = "Hany km2 -re",
))
fig.update_layout(
    title_text = "Allamonkent hany negyzetkilometerre jut egy egyetem",
    geo_scope="usa",
)
fig.show()

In [26]:
fig = go.Figure(data=go.Choropleth(
    locations=allamok3["abbrev"],
    z = allamok3["capita"].astype(float),
    locationmode = "USA-states",
    colorscale = "Reds",
    colorbar_title = "Hany fore",
))
fig.update_layout(
    title_text = "Allamonkent hany fore jut egy egyetem",
    geo_scope="usa",
)
fig.show()